<div class="item action ui dropdown jump pointing top right context-dropdown">
	<a class="context-menu muted">
		{{svg "octicon-kebab-horizontal"}}
	</a>
	<div class="menu">
        {{$referenceUrl := (printf "%s/discussions/%d/files#%s" $.ctxData.RepoLink .item.DiscussionId .item.HashTag) }}
		<div class="item context discussion-quote-comment js-aria-clickable" data-clipboard-text-type="url" data-clipboard-text="{{$referenceUrl}}">{{ctx.Locale.Tr "repo.issues.context.copy_link"}}</div>
		{{if .ctxData.IsSigned}}
			{{$needDivider := false}}
			{{if not .ctxData.Repository.IsArchived}}
				{{$needDivider = true}}
				{{if or .ctxData.Permission.IsAdmin .IsCommentPoster}}
					<div class="divider"></div>
					<div class="item context js-aria-clickable discussion-edit-content" data-comment-id={{.item.HashTag}}  >{{ctx.Locale.Tr "repo.issues.context.edit"}}</div>
					{{if .delete}}
						<div class="item context js-aria-clickable discussion-delete-comment" data-comment-id={{.item.HashTag}} data-url="{{.ctxData.RepoLink}}/discussions/{{.item.ID}}/comment" data-locale="{{ctx.Locale.Tr "repo.issues.delete_comment_confirm"}}">{{ctx.Locale.Tr "repo.issues.context.delete"}}</div>
					{{end}}
				{{end}}
			{{end}}
		{{end}}
	</div>
</div>


