{{if and $.root.SignedUserID (not $.Repository.IsArchived)}}
<form class="ui form {{if $.hidden}}tw-hidden comment-form{{end}}" action="{{$.Link}}/comment" method="post">

	{{$.root.CsrfTokenHtml}}
        <input type="hidden" name="StartLine" value="{{$.root.StartLine}}">
        <input type="hidden" name="EndLine" value="{{$.root.EndLine}}">
        <input type="hidden" name="CodeId" value = "{{$.root.CodeId}}">
        <input type="hidden" name = "DiscussionId" value = "{{$.root.DiscussionId}}">

		{{template "shared/combomarkdowneditor" (dict
			"MarkdownPreviewUrl" (print $.root.Repository.Link "/markup")
			"MarkdownPreviewContext" $.root.RepoLink
			"TextareaName" "content"
			"TextareaPlaceholder" (ctx.Locale.Tr "repo.diff.comment.placeholder")
			"DropzoneParentContainer" "form"
			"DisableAutosize" "true"
		)}}

		<div class="field footer tw-mx-2">
			<span class="markup-info">{{svg "octicon-markdown"}} {{ctx.Locale.Tr "repo.diff.comment.markdown_info"}}</span>
			<div class="tw-text-right">
				{{if $.reply}}
					<button class="ui submit primary tiny button btn-reply" type="submit">{{ctx.Locale.Tr "repo.diff.comment.reply"}}</button>
					<input type="hidden" name="reply" value="{{$.reply}}">
					<input type="hidden" name="single_review" value="true">
				{{else}}
						<button name="single_review" value="true" type="submit" class="ui submit tiny basic button btn-add-single">{{ctx.Locale.Tr "repo.diff.comment.add_single_comment"}}</button>
				{{end}}
				{{if or (not $.HasComments) $.hidden}}
					<button type="button" class="ui submit tiny basic button btn-cancel cancel-code-comment">{{ctx.Locale.Tr "cancel"}}</button>
				{{end}}
			</div>
		</div>
<form>
{{end}}
