{{if .Flash}}
{{template "base/alert" .}}
{{end}}
<form id="new-discussion" action="{{.Link}}" method="post">
	{{.CsrfTokenHtml}}
	<div id="discussion-form"  class="tw-flex tw-w-full tw-overflow-x-clip" ></div>
	<script>
		window.config.pageData.repoLink = "{{.RepoLink}}";
	</script>
	<input type="hidden" name="redirect_after_creation" value="{{.redirect_after_creation}}">
</form>
