{{if .Flash}}
{{template "base/alert" .}}
{{end}}
<form id="new-discussion" action="{{.Link}}" method="post">
	{{.CsrfTokenHtml}}
	<div id="discussion-form" style="display: flex; width: 100%; "></div>
	<script>
		window.config.pageData.repoLink = "{{.RepoLink}}";
	</script>
	<input type="hidden" name="redirect_after_creation" value="{{.redirect_after_creation}}">
</form>
